* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #7dcbdf;
    padding: 50px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    color: #000000;
    font-size: 15px;
    margin-bottom: 20px;
}

footer img {
    display: block;
    margin: 20px auto;
    max-width: 28%;
    height: auto;
}

footer p {
    text-align: center;
    color: #073607;
    font-size: 20px;
    margin-top: 30px;
}